*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-image: #fff;
  font-size:16px;
}

.nav-list a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
}

.titulo li a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  margin-top: 2%;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;

}

button, .button-darkmode{
  width:90px;
  background-color: transparent;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: #5a00ade0;
  height: 8vh;
  z-index: 999;
  
}
.nav-list{
  list-style: none;
  display: flex;
  margin-top: 1%;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu{
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 999px, min-width= 300px){
  body{
    overflow-x: hidden;
}

.nav-list{
position: absoute;
top: 8vh;
right: 0;
width: 50vw;
height: 92vh;
background: #502974e3;
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
transition: transform 0.3s ease-in;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
}

.mobile-menu{
  display:block;
}
}

.nav-list.active{
  transform: translateX(0);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
 
  .footer{
    text-align: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #621aa5;
    color:#fff;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin-top: 0%;
  }
  
  .copy{
    
    font-size:15px;
    padding-bottom:15px;
  }
  
  .footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:#fff;
  }
  
  
  .footer .social a:hover{
    opacity: 0.9;
  }
  
  .footer ul{
    margin-top: 0px;
    padding:0px;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer ul li{
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul li a:hover{
    opacity: 1;
  }
  
  .footer, .copyrigth{
  
  
    text-align: center;
    font-size: 10px;
    color: #aaa;
    opacity: 4px;
    padding-bottom: 5px;
  }

button {
 
    border: none;
    transition: all .5s;
    width: 55%;
    height: 55px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 5%;
    margin-right: 20px;
}

button span {
    display: inline-block;
    position: relative;
    transition: all .5s;

}

button:hover { cursor: pointer;}

.bounce-effect:active {
    width: 100%;
    height: 60px;

}

.second-buttonIV {
    background-color: transparent;
    color: #6da584;
    border: 1px solid #6da584;
    overflow: hidden;
    position: relative;
}

 
 .second-buttonIV::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    transition: all .8s;
    border-radius: 50% 50% 0 0;
}

.second-buttonIV::before {background-color: #049641;}

.second-buttonIV span { z-index: 2;}

.second-buttonIV:hover { color: rgb(255, 255, 255);}

.second-buttonIV:hover { border: 1px solid #049641;}

.second-buttonIV:hover::before{ height: 180%;}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("IMG/saúde.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgb(248, 248, 248);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

.photoservices img{

  width: 470px; 
  height:60px;
  margin-left: 402px;
  margin-top: 30px;

}

.login a{
  text-decoration: none;
  color: #2e2e2e;
  margin-left: 60%;
  
}

@media (max-width: 1235px){
  .nav{
    flex-direction:row;
    background: #7504c0;
    font-size: 13px;
    z-index: 999;
  }
  .main{
      flex-direction:row;
      font-size: 13px;
  }
  .footer{
    padding-bottom: 35vh;
  }
  }

