<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAUBS - MATÃO</title>
    <link rel="stylesheet" href="../assets/css/sobre.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body>

  <header>

    <nav class="navbar navbar-expand-lg bg-purple" style="padding-right: 5%; padding-left: 5%; padding-top: 0%; padding-bottom: 0%;">
      <div class="container-fluid">
          <a class="navbar-brand fs-2 mpl text-light" href="../HOMEPAGE.html">
             SAUBS - MATÃO
          </a>
          <button class="navbar-toggler btn-close" style="border-radius: 100px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" style="font-weight: bolder;" href="../HOMEPAGE.html"> INÍCIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" style="font-weight: bolder;" href="sobre.html"> SOBRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" style="font-weight: bolder;" href="edital.html"> EDITAL</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

    <main>

      <ul class="topo">
      <li><a href="#"> > Sobre Nós</a></li>
      </ul>


      <br>
                  <div class="container">
                    <div class="contact-box">
                      <div class="left"></div>
                      <div class="right">
              
                        <span>

                          <h1 class="tituloI">
                              <span>
                              SOBRE NÓS
                              </span>
                          </h1>

                          <br>
                          
                          <h1 class="subtitulo">
                            Descubra mais sobre a grande ideia de criar um site que ajuda-se a população matonense a se informar e realizar pré-agendamentos de consultas médicas nas unidades de saúde da cidade, de forma totalmente CONECTADA!                   
                          </h1>
                          <br>

      <div class="edital">
        
        O estudo a seguir introduz o conhecimento prático sobre as Unidades Básicas de Saúde (UBS) da cidade de Matão e como o acesso digital a esses dados podem ser úteis atualmente.
        Através de uma análise prática, foi constatado que a falta de informação disponível sobre as UBSs do município, é prejudicial à população que utiliza do Sistema Único de Saúde (SUS) para garantir seu bem-estar.
        O projeto desenvolvido consiste em uma interface informativa que garanta ao usuário o fácil contato com os postos de saúde e realizar pré-agendamentos de consultas médicas. Para comprovar a pertinência do tema, foi desenvolvido um formulário que teve como objetivo obter o feedback da população
        matonense sobre os processos de atendimento das UBSs, onde foram obtidos dados que justificam o desenvolvimento deste projeto. O protótipo de layout do website foi construído pensando na agilidade de busca, desse modo idealizou-se o design de páginas que atendam a essa característica,
        com a aplicação de ícones grandes, fontes visíveis e figuras ilustrativas. Este trabalho descreve a estruturação idealizada
        para o website, considerando todo levantamento de informações realizado até o presente momento.
      
        <br>
        <br>
        <center>
        <img src="../assets/IMG/saúde.jpg" width="40%" height="40%">
        </center>
        <br>

      Segundo o site do Ministério da Saúde, o SUS (Sistema Único de Saúde) é uma das maiores e mais complexas organizações de saúde pública do mundo,
      ele proporciona acesso universal a todas as pessoas, sem discriminação social ou racial, visando sempre à prevenção e o bem-estar da sociedade.
      Esse sistema atende mais de 70% da população brasileira, aproximadamente 150 milhões de pessoas, e consome 45% do total de gasto com saúde no
      país. Criado em 1990 e formalizado pela Lei Constitucional de nº 8080 este regulamento declara que em todo o território nacional deve haver
      ações e serviços de saúde, sendo isso um direito fundamental do ser humano, devendo o Estado promover condições indispensáveis e suficientes
      para visarem à redução de riscos a doenças e outros agravos, assegurando tais condições de forma igualitária a todos. Sendo assim, toda a
      população tem por direito o acesso à profissionais de qualidade que atuem nas Unidades Básicas de Saúde de todo país. 

      <br>
      <br>
      <center>
      <img src="../assets/IMG/saúdeII.png" width="40%" height="40%">
      </center>
      <br>

      Nos anos de 2020 e 2021 a população brasileira necessitou ainda mais dos serviços prestados pelo SUS, nesses mesmos anos,
      foi declarada uma pandemia causada pelo vírus Covid-19, que em contato com o ser humano causa infecção respiratória potencialmente grave,
      de elevada transmissibilidade e de distribuição global. A cronologia deste vírus revela uma rápida disseminação mundial, que pressionou a OMS
      (Organização Mundial da Saúde) a decretar emergência de saúde pública de interesse internacional no fim de janeiro de 2020.
      O primeiro caso de Covid-19 foi confirmado no Brasil no dia 26 de fevereiro, o paciente era um homem que esteve na Itália e que ao retornar
      já havia contraído a doença.Considerando isso, este projeto teve como intuito facilitar a busca por informações relacionadas às Unidades Básicas de Saúde da cidade de Matão. 

      <br>
      <br>
      <center>
      <img src="../assets/IMG/etec.jpg" width="30%" height="30%">
      </center>
      <br>


    </div>
    
  </span>
              
</div>
</div>
</div>
<br>

    </main>
    <section class="footer">

      <p class="copy">REDES SOCIAS:</p>
    
        <div class="social">
          <a href="https://pt-br.facebook.com/prefeituramatao"><img src="../assets/IMG/facebook.png" width="45" height="45"></a>
          <a href="https://instagram.com/prefeituradematao?igshid=YmMyMTA2M2Y="><img src="../assets/IMG/instagram.png" width="45" height="45"></a>
          <a href="https://www.youtube.com/c/PrefeituradeMat%C3%A3o0/featured"><img src="../assets/IMG/youtube.png" width="45" height="45"></a>
        </div>
    
        <ul class="list">
          <li><a href="../HOMEPAGE.html">INÍCIO</a></li>
          <li><a href="https://site.mataourgente.com.br/saude/saude">MATÃO URGENTE - SAÚDE</a></li>
          <li><a href="http://novo.matao.sp.gov.br/secretaria-da-saude/">PORTAL MATÃO</a></li>
        </ul>
    
        <p class="copyright">
          SAUBS-MATÃO @ 2022
        </p>
    
        <ul class="logo"><img src="../assets/IMG/Logo.png" width="9%" height="9%"></ul>
        <hr>
    
      </section>

      <!--LIBRAS-->
      <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
      </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script> 

      <script src="assets/js/script.js"></script>

 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>